@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@{
    //tạo biểu thức (+) 

<div>
    <p>Ngày hôm nay là: @DateTime.Now</p>
    <p>Tổng của 2 và 3 là: @(2+3)</p>
    <p>Tổng của 2 và 3 là: (2 + 3)</p>
</div>
}
@{
    //sử dung @{} để tạo block mã trong c#
    //in biến 
    string name = "Nhóm Carat";
    int age = 21;
}

<h3>Hello, @name</h3>
<p>You are @age</p>

